
h2{
    background-color: aqua;
    float:right;
    margin-top: 0%;
}
p{
font-weight: bold;
 width: 90%;
height: auto;
 margin-right: auto;
 margin-left: auto;
}
#div1{
    background-color: burlywood;
}
#div2{
    background-color:deeppink;
}
#div3{
    background-color: darkslategrey;
}
.row{
    width: 100%;
}

@media (min-width: 992px) {
.col-lg-4 {
width: 30%;
float: left;
margin: 15px;
border: 1px solid black;

}
}

@media (min-width: 768px) and (max-width: 991px) {
.col-md-6{
    width: 45%;
    float :left;
    margin: 15px;
}
.col-md-12{
    float: left;
    width: 100%;
}
}

@media (max-width: 767px) {

}
